<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Gettin' Stuff Done</h1>
  <input name="todo" type="text" name="todoList" placeholder="whatcha wanna do today?!" />
  <button id= "newToDo" type="submit">Submit</button>
  {{#hashSlash}}
  <ul>
    <li>{{title}}<button id= "completed" type="submit">click to complete</button></li>
  </ul>
  {{/hashSlash}}




<script type="text/javascript"/>
  </body>

</html>
